{# Variables #}
{# - tournament: models.Tournament #}
{# - editable: bool #}

{% if not tournament.teams.exists and not editable %}
<p class="text-muted fst-italic mb-0">No teams.</p>
{% else %}
{% for team in tournament.teams.all %}
<div class="col">
  <div class="card h-100">
    <div class="card-header">
      <span>{{ team.name }}</span>
      {% if editable %}
      <button type="button" data-bs-toggle="modal" data-bs-target="#delete-team-{{ team.id }}-modal"
              class="btn btn-link float-end p-0 hover-danger text-secondary">
        <i class="bi-x-circle-fill"></i>
      </button>
      <div class="modal fade" id="delete-team-{{ team.id }}-modal"
           tabindex="-1" aria-labelledby="delete-team-{{ team.id }}-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delete-team-{{ team.id }}-modal-label">Delete Team</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete "{{ team.name }}"?</p>
              <small class="text-muted mb-0">NOTE: All team members will be unassigned.</small>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" onclick="deleteTeam('{{ team.id }}');">Delete Team</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div id="team-{{ team.id }}" class="{% if editable %}sortable-team{% endif %} list-group list-group-flush">
      {% include "tournaments/components/team-members.html" with members=team.members.all editable=editable %}
    </div>
  </div>
</div>
{% endfor %}
{% if editable %}
<div class="col">
  <div class="card h-100 align-items-center">
    <button type="button" data-bs-toggle="modal" data-bs-target="#add-team-modal"
            class="btn btn-link text-decoration-none w-100 h-100 py-3">
      <i class="bi-plus-circle d-block fs-1"></i>
      <span class="d-block fs-4">Add Team</span>
    </button>

    <div class="modal fade" id="add-team-modal" tabindex="-1" aria-labelledby="add-team-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="{% url 'tournaments:teams' tournament.uid %}" method="post">
            {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="add-team-modal-label">Add Team</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label class="form-label" for="new_team_name">Team Name</label>
              <input type="text" class="form-control" id="new_team_name" name="new_team_name" autocomplete="off">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add Team</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}
