{% extends "base.html" %}
{% load tournament_extras %}

{% block title %}Edit Tournament - Pelotourney{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>

  <script>
    function activateTab() {
      if (window.location.hash) {
        const selectedTabElement = document.querySelector(`${window.location.hash}-tab`);
        if (selectedTabElement) {
          const selectedTab = new bootstrap.Tab(selectedTabElement);
          selectedTab.show();
        }
      }
    }
    window.addEventListener("hashchange", activateTab);
    window.addEventListener("DOMContentLoaded", activateTab);
    {% include "tournaments/components/team-list.js" %}
  </script>
{% endblock %}

{% block content %}
  <div class="mx-auto" style="max-width: 992px;">
    <div class="d-flex flex-row align-items-center mb-2">
      <h3 class="mb-0 me-auto">Edit Tournament</h3>
      <a href="{% url "tournaments:detail" tournament.uid %}" class="btn btn-secondary">Back to Tournament</a>
    </div>
    <p class="text-muted">{{ tournament.name }}</p>
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="editor-tabs" role="tablist" aria-orientation="vertical">
        {% for tab in "settings,teams,rides,permissions"|split:"," %}
          <a class="nav-link {% if settings_tab == tab %}active{% endif %}"
             href="{% url 'tournaments:edit' tournament.uid tab %}">
            {{ tab|title }}
          </a>
        {% endfor %}
      </div>
      <div class="tab-content border-start border-dark ps-4 w-100" id="tabContent">
        <div class="tab-pane fade show active">
          {% with page_template="tournaments/settings/"|add:settings_tab|add:".html" %}
            {% include page_template with tournament=tournament %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}