{# Variables #}
{#  - tournament: models.Tournament #}
<div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
  {% for ride in tournament.rides.all %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ ride.image_url }}" class="card-img-top" alt="{{ ride.title }}" style="height: 18vh; object-fit: cover;">
      <div class="card-body p-2 d-flex flex-row">
        <img class="rounded-circle my-auto me-2"
             src="{{ ride.instructor.image_url }}" alt="{{ ride.instructor.name }}" width="32" height="32">
        <div class="col text-truncate">
          <div class="text-truncate">{{ ride.title }}</div>
          <div>
            <small class="text-muted">{{ ride.instructor.name }}</small>
          </div>
        </div>
        <button type="button" data-bs-toggle="modal" data-bs-target="#delete-ride-{{ ride.id }}-modal"
                class="btn btn-link ms-auto text-secondary hover-danger px-1">
          <i class="bi-x-circle-fill"></i>
        </button>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ ride.scheduled_start_time|date:"D n/j/y @ g:i A" }}</small>
      </div>
    </div>
  </div>
  <div class="modal fade" id="delete-ride-{{ ride.id }}-modal"
       tabindex="-1" aria-labelledby="delete-ride-{{ ride.id }}-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete-ride-{{ ride.id }}-modal-label">Remove Ride</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to remove "{{ ride.title }}" from the tournament?</p>
          <small class="text-muted mb-0">NOTE: It can be added back later and all existing ride data will still be synced.</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="deleteRide('{{ ride.id }}');">Remove Ride</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col">
    <div class="card h-100 align-items-center">
      <button type="button" data-bs-toggle="modal" data-bs-target="#add-ride-modal"
              class="btn btn-link text-decoration-none w-100 h-100 py-3">
        <i class="bi-plus-circle d-block fs-1"></i>
        <span class="d-block fs-4">Add Ride</span>
      </button>

      <div class="modal fade" id="add-ride-modal" tabindex="-1" aria-labelledby="add-ride-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="add-ride-modal-label">Add Ride</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
              <div id="ride-modal-filters" class="row row-cols-2 sticky-top bg-white border-bottom py-3">
                <div class="col">
                  <label for="ride-modal-instructor-id" class="d-none">Instructor</label>
                  <select id="ride-modal-instructor-id" class="selectpicker" title="Instructor..." data-size="10" data-live-search="true"></select>
                </div>
                <div class="col">
                  <label for="ride-modal-duration" class="d-none">Ride Duration</label>
                  <select id="ride-modal-duration" class="selectpicker" title="Ride Duration..." data-size="10"></select>
                </div>
              </div>
              <div id="ride-modal-rides">
                <div class="d-flex justify-content-center">
                  <div class="spinner-border text-secondary mx-auto my-5" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>